 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  background-color: #f4f4f4;
  font-family: "Inter", sans-serif;
}

.paginatoda {
  display: flex;
  min-height: calc(100vh - 80px);
}

.cabecalho {
  background-color: white;
  color: #000;
  margin-top: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  width: 220px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  flex-shrink: 0;
  padding: 0;
  height: 100%;
  margin-top: 0;
}

.listaNavbar {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.listaNavbar a {
  display: block;
  width: auto;
  text-align: left;
  color: #000;
  text-decoration: none;
  transition: transform 0.3s ease;
  background-color: white;
  border-bottom: solid;
}

a:hover {
  transform: scale(1.1);
}

h1.cabecalho {
  text-align: center;
}

.conteudo {
  flex-grow: 1;
  padding: 2rem;
  margin-top: 0;
  /* margin: auto; */
  max-width: 768px;
}

.input-add-tarefa {
  text-align: center;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  border-radius: 10px;
}

.botao-add-tarefa {
  background-color: white;
  border-radius: 5px;
  border: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.botao-add-tarefa:hover {
  transform: scale(1.1);
  margin-left: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.lista-pendente,
.lista-concluido {
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

h2 {
  color: #fff;
  background-color: #000;
  text-align: center;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  gap: 10px;
}

li > p {
  padding: 5px;
  text-align: left;
  background-color: #fff;
  width: 80%;
  border: solid 1px;
}

.concluido,
.remover {
  font-size: 16px;
  transition: transform 0.3s ease;
}

.concluido:hover,
.remover:hover {
  transform: scale(1.2);
}
