.body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgba(128, 128, 128, 0.151); */
    width: 100%;
    height: 100%;    
}

.cabecalho {
    background-color: grey;
    color: #fff;
    /* box-shadow: 0px 0px 5px #000; */
}

.navbar {
    background-color: #000;    
}

.listaNavbar {
    padding: 5px;
    gap: 100px;
}

.listaNavbar > a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: transform 0.3s ease;
}

a:hover {
    background-color: grey;
    border-radius: 5px;    
    transform: scale(1.1);
    
}

h1.cabecalho {
    text-align: center;
}

.conteudo {
    margin: 0px 110px 0px 110px;
    box-shadow: 0 0 10px #000000;
    padding: 20px; 
    text-align: center;
    border-radius: 10px;
}

.addTarefa {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.473);    
    box-shadow: 0 0 5px black;
    padding: 20px;        
}

.adicionarTarefa {
    background-color: white;
    border-radius: 5px;
    border: white;
    box-shadow: 0 0 5px #000;
    transition: transform 0.3s ease;
}

.adicionarTarefa:hover {
    transform: scale(1.1);
    margin-left: 5px;
    box-shadow: 0 0 10px #000;
}

.tarefasPendentes, .tarefasConcluidas {
    background-color: rgba(128, 128, 128, 0.473);
    box-shadow: 0 0 5px black;    
    border-radius: 5px;  
}

.tarefasPendentes  > h2, .tarefasConcluidas > h2 {
    color: #fff;
    padding: 5px;        
    background-color: #000;
    border-radius: 5px;    
}

 li {
    display: flex;      
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    gap: 10px;
    
    
}

li > p {
    padding: 5px;
    text-align: left;
    background-color: #fff;
    width: 80%;
    border: solid 1px;    
}

.concluido, .remover {
    font-size: 16px; 
}

.concluido:hover, .remover:hover {
    font-size: 22px;
}


